{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<div class="px-3" >

  <img src="{{url_for('static', filename='images/Game_home.jpeg')}}" width="100%">
  <!--<h1 align="center"> Free Games here!! </h1>
     <img class="card-img-top" src="holder.js/300x300/" alt="">
    <div class="card-body">
        <p class="card-text">
            Game 1
        </p>
    </div> -->
    <div class="card">
        <a href="https://manojloul.github.io/typingspeedgame/">Tic Tac Toe</a>
    </div>
    <div class="card">
        <a href="https://aditipatidar106.github.io/Pacman/">Pacman</a>
    </div>
    <div class="card">
        <a href="https://aditipatidar106.github.io/Hextris/">Hextris</a>
    </div>
    <div class="card">
        <a href="https://aditipatidar106.github.io/Racer-Master/">Racer-Master</a>
    </div>
    <div class="card">
        <a href="https://aditipatidar106.github.io/Hangman/">Hangman</a>
    </div> 
    <div class="card">
        <a href="https://aditipatidar106.github.io/3D-Hartwig-chess-set-master/">Chess Master</a>
    </div> 
    <div class="card">
        <a href="https://aditipatidar106.github.io/2048/">2048</a>
    </div>  
    <div class="card">
        <a href="https://aditipatidar106.github.io/Mimstris-Master/">Mimstris Master</a>
    </div> 
    <div class="card">
        <a href="https://aditipatidar106.github.io/HexGL/">HexGl</a>
    </div> 
    
</div>

{% endblock %}
